{% block styles  %}
    <link href="{{ static 'task_sequences/task_sequences.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
Number Sequences
{{ endblock }}

{{ block content }}
<div class="task-wrapper" data-task="sequences" data-page="Game">
    {{ include C.INSTRUCTION_TEMPLATE }}
    <br>
    <div class="d-flex flex-column align-items-center">
        <h3>
            Iteration <span id="iter-txt"></span>
        </h3>
        <p>Solved: <span id="solved-txt"></span>. Failed: <span id="failed-txt"></span>.</p>
        <p class="task-stimulus sequence-question" id="question-txt"></p>

        <div class="input-group m-1 task-question" data-type="number" data-qid="answer">
            <input type="number" id="answer-inp" class="form-control task-input"
                   placeholder="enter the next number"
                   autocorrect="off" autocapitalize="off" spellcheck="false">
            <button type="button" id="submit-btn" class="btn btn-outline-secondary task-submit">Submit</button>
        </div>

        <p class="warn" id="warning-txt"></p>
    </div>
</div>

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'task_sequences/task_sequences.js' }}"></script>
<script src="{{ static 'shared/puzzle_timer.js' }}"></script>
{{ if DEBUG }}<script src="{{ static 'task_sequences/task_sequences_cheating.js' }}"></script>{{ endif }}
{{ endblock }}
