{% block styles  %}
    <link href="{{ static 'string_entry/string_entry.css' }}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
String Entry
{{ endblock }}

{{ block content }}
<div class="task-wrapper" data-task="string_entry" data-page="Game">
    <div class="d-flex flex-column align-items-center">
        <h3>
            Iteration <span id="iter-txt"></span>
        </h3>
        <p>Solved: <span id="solved-txt"></span>. Failed: <span id="failed-txt"></span>.</p>
        <img class="captcha m-1 task-stimulus" id="captcha-img">

        <div class="input-group m-1 task-question" data-type="text" data-qid="answer">
            <input type="{{ input_type }}" id="answer-inp" class="form-control task-input"
                   placeholder="{{ placeholder }}"
                   autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="off">
            <button type="button" id="submit-btn" class="btn btn-outline-secondary task-submit">Submit</button>
        </div>

        <p class="warn" id="warning-txt"></p>
    </div>
    <br>
    {{ include C.INSTRUCTION_TEMPLATE }}
</div>

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'string_entry/string_entry.js' }}"></script>
<script src="{{ static 'shared/puzzle_timer.js' }}"></script>
{{ if DEBUG }}<script src="{{ static 'string_entry/string_entry_cheating.js' }}"></script>{{ endif }}
{{ endblock }}
